.prepartita {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    text-align: center;
}

.prepartita h1 {
    font-size: 10rem;
}

.prepartita h2 {
    font-size: 2.2rem;
}

.prepartita p {
    font-weight: 600;
}

.sendButton {
    border-radius: 50%;
    padding: 1.5rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5rem;
    bottom: 5rem;
    z-index: 100;
}

.sendButton svg {
    font-size: 5rem;
}

.welcomeScreenBtn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: --transition;
    z-index: 100;
    border-radius: 50%;
    padding: 2.5rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcomeScreenBtn svg {
    font-size: 8rem;
    color: #ff0066;
}

.sendButton:hover, .welcomeScreenBtn:hover {
    background-color: rgba(128, 128, 128, 0.4);
    transition: var(--btn-transition);
}

.estrazione-extra {
    width: 50%;
    height: 5rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 2px solid rgba(128, 128, 128, 0.4);
    border-radius: .5rem;
}
