.svg-container {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-40%, -50%);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    opacity: 30%;
    z-index: 0;
}
