/* Titoli Falconero  #fd0029 */

nav {
    width: 100%;
    height: auto;
    padding: 0.8rem 1.5rem;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    width: 2.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 100%;
    height: auto;
}

.menu {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0.3rem;
}

.menu svg {
    font-size: 1.8rem;
}

.menu:hover {
    background-color: rgba(128, 128, 128, 0.4);
}
