* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #d9f0ff;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.main-container {
    height: 100vh;
}

.header {
    width: 100vw;
    height: 10vh;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    color: white;
    transition: 0.3s;
    font-weight: 800;
}

#menu-prepartita,
#menu-settimana {
    width: 50%;
    height: 100%;
    background-color: #024b80;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 2vh;
    transition: 0.6s;
}

#menu-prepartita > span,
#menu-settimana > span {
    font-size: 2.5vh;
}

#menu-prepartita.default,
#menu-settimana.default {
    background-color: #e52d27;
    width: 100%;
    font-size: 2.5vh;
}

#menu-prepartita.default > span,
#menu-settimana.default > span {
    font-size: 3.5vh;
}

#menu-prepartita:hover,
#menu-settimana:hover {
    background-color: #011b2e;
}

/* MAIN SECTION */

.main {
    width: 100vw;
    height: 90vh;
    text-align: center;
    background-image: url(../public/logo900_25.png),
        url(../public/right-bg50.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 50%, 75%;
    background-position: -50%, 150% bottom;
}

main.welcome {
    background-image: url(../public/pitch.jpg);
    background-size: cover;
    background-position: center center;
}

.overlay {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.85) 0%, rgba(70,70,70,0) 90%); 
    width: 100%;
    height: 100%;
    
}

.welcome-title {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3rem;
    padding: 3em;
}

.displayPrepartita {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.btn-randNum {
    background-image: linear-gradient(
        to right,
        #314755 0%,
        #26a0da 51%,
        #314755 100%
    );
}
.btn-randNum {
    padding: 15px 150px;
    margin-top: 5px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* box-shadow: 0 0 20px #eee; */
    border-radius: 10px;
    display: block;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.7em;
}

.btn-randNum:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

#randomNumber {
    font-size: 10rem;
    font-weight: 800;
    line-height: 1;
}

.img-impr {
    width: 300px;
    height: 69px;
    background-image: url(../public/imprevisto_OR.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.displayPrepartita > h3 {
    font-size: 2em;
}

.displayPrepartita > p {
    font-size: 1.2em;
    font-weight: 600;
    padding: 10px;
    background-color: rgba(5, 5, 5, 0.15);
    border-radius: 5px;
    width: 50%;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ultEstrazione {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50vw;
    border: 5px double #024b80;
    border-radius: 0.5em;
    padding: 0.5em 0;
}

.ultEstrazione > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ultEstrazione > .container > input {
    text-align: center;
    border-radius: 0.1em;
    font-weight: 600;
    font-size: 2rem;
    max-width: 8rem;
}

.btn-player {
    background-image: linear-gradient(
        to right,
        #e52d27 0%,
        #b31217 51%,
        #e52d27 100%
    );
}
.btn-player {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* box-shadow: 0 0 20px #eee; */
    border-radius: 10px;
    display: block;
    font-weight: 600;
    cursor: pointer;
}

.btn-player:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.randomPlayer {
    height: 8rem;
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 600;
    background-image: url(../public/retro-shirt.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding-bottom: 0.5em;
}

.red-alert {
    color: #b31217;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
    .welcome-title {
        font-size: 2rem;
        padding: 1.5em;
    }
    .btn-randNum {
        padding: 15px 40%;
        font-size: 1.2em;
    }
    #randomNumber {
        font-size: 8rem;
        line-height: 0.8;
    }
    .img-impr {
        width: 200px;
        height: 50px;
    }
    .displayPrepartita > h3 {
        font-size: 1.5em;
        line-height: 1;
    }
    .displayPrepartita > p {
        font-size: 1em;
    }

    .ultEstrazione {
        flex-direction: column;
        border: 3px double #26a0da;
    }
    .randomPlayer {
        height: 7rem;
        width: 6rem;
    }
}
