* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  width: 100vw;
  height: 10vh;
  box-shadow: 0 5px 20px rgba(0,0,0,.5);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background-color: #024b80;
  color: white;
  transition: .3s;
  font-weight: 600;

}

#menu-prepartita, #menu-settimana{
  width: 50%;
  height: 100%;
  border-left: 1px solid #011b2e;
  border-right: 1px solid #011b2e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: 20vw; */
}

#menu-prepartita:hover, #menu-settimana:hover {
  background-color: #011b2e ;  
}

#menu-prepartita:visited, #menu-settimana:visited {
  background-color: #011b2e ;  
}

#menu-prepartita > span {
  font-size: x-large;
}
#menu-settimana > span {
  font-size: x-large;
}

/* MAIN SECTION */

.main {
  width: 100vw;
  height: 100vh;
  padding: .5vh;
}

.displayPrepartita {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#btn-randNum {
  padding: .8rem 3rem;
  background-color: #011b2e;
  border-radius: .3em;
  text-align: center;
  color: white;
  font-weight: 600;
  transition: .3s;
  cursor: pointer;
}

#btn-randNum:hover {
  background-color: #024b80;
}

#btn-randNum:active {
  background-color: #800202;
}

#randomNumber {
  font-size: 10rem;
  font-weight: 800;
}
