#title--reg {
    text-align: center;
}

#rules--container {
    width: 100%;
    height: calc(100vh - 4.5rem);
    text-align: center;
    display: flex;
    justify-content: space-between;
}


.reg--title {
    width: 100%;
}

.pre {
    background-color: #b31217;
    color: #f1f1f1;
}

.set {
    background-color: green;
    color: #f1f1f1;
}

.global--container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}

.mapped--container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.mapped--row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: .6rem;
    font-weight: 600;
    border: 1px solid #999;
    padding: 0 0.2rem;
    cursor: pointer;
}

.mapped--row:hover {
    background-color: rgb(70, 162, 223);
}

.col--number {
    width: 50%;
    align-self: flex-end;
}

.col--title {
    text-align: left;
    padding-left: 1rem;
    width: 100%;
}

/* Tooltips */

.tooltip--map {
    display: inline-block;
    position: relative;
    text-align: left;
}

.tooltip--map .left {
    min-width: 300px;
    max-width: 500px;
    top: 50%;
    right: 100%;
    margin-right: 20px;
    transform: translate(0, -50%);
    padding: 10px 20px;
    color: #EEEEEE;
    background-color: rgba(2, 75, 128, 0.9);
    font-weight: normal;
    font-size: 1rem;
    border-radius: 8px;
    position: absolute;
    z-index: 9;
    box-sizing: border-box;
    border: 1px solid transparent;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    display: none;
}

.tooltip--map:hover .left {
    display: block;
}

.tooltip--map .left i {
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -12px;
    width: 12px;
    height: 24px;
    overflow: hidden;
}

.tooltip--map .left i::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: #024b80;
    border: 1px solid transparent;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

/* *********** RIGHT ************ */

.tooltipr--map {
    display:inline-block;
    position:relative;
    text-align:left;
}

.tooltipr--map .right {
    min-width:300px;
    max-width:500px;
    top:50%;
    left:100%;
    margin-left:20px;
    transform:translate(0, -50%);
    padding:10px 20px;
    color:#EEEEEE;
    background-color: rgba(2, 75, 128, 0.9);
    font-weight:normal;
    font-size:1rem;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    border: 1px solid transparent;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display: none;
}

.tooltipr--map:hover .right {
    display: block;
}

.tooltipr--map .right img {
    width:400px;
    border-radius:8px 8px 0 0;
}
.tooltipr--map .text-content {
    padding:10px 20px;
}

.tooltipr--map .right i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}
.tooltipr--map .right i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:0;
    top:50%;
    transform:translate(50%,-50%) rotate(-45deg);
    background-color: #024b80;
    border: 1px solid transparent;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}


/* MEDIA QUERY */

@media (max-width: 768px) {
    .tooltip--map .left  {
        display: none;
    }
    .tooltipr--map .right {
        display: none;
    }
}

@media screen and (min-width: 1240px) {
    .mapped--row {
        font-size: .8rem;
    }

    .global--container {
        padding: .5rem 5rem;
        height: 100%;
    }

}